@using SpionshopASPNETWebApp.Models.dto;
@{ KlantDTO klant = (KlantDTO)HttpContext.Current.Session["user"]; }

@if (@klant != null)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()        //  This method adds the hidden form field and also sets the cookie token. 
                                        //(http://www.asp.net/web-api/overview/security/preventing-cross-site-request-forgery-csrf-attacks)
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + @klant.Gebruikersnaam + " !", "Register", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

